<div class="carousel-container">
    <h1>Angular Carousel</h1>
  
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
 
      <div class="carousel-inner">
        <div class="carousel-item" *ngFor="let slide of slides; let i = index" [class.active]="i === 0">
          <img [src]="slide.imageUrl" class="d-block w-100" alt="Slide {{i}}">
          <div class="carousel-caption d-none d-md-block">
            <h5>{{ slide.caption }}</h5>
          </div>
        </div>
      </div>
      <!-- Control Buttons -->
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
     
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
      <ol class="carousel-indicators">
        <li data-bs-target="#carouselExampleIndicators" *ngFor="let slide of slides; let i = index" [attr.data-bs-slide-to]="i" [class.active]="i === 0"></li>
      </ol>
    </div>
  </div>
  